body{
    background:linear-gradient(to right,#ba6edb,#3498db);
    font-family: Arial,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    color: #121111;
}

p{
    color: #0b0b0b;
    font-size: 20px;

}
  img {
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #2980b9;
  }
  